Copyright {{currentYear}} © {{appName}}
<a href='{{appFacebook}}' target='_blank'><i class="fa fa-facebook"></i></a> |
<a href='{{appTwitter}}' target='_blank'><i class="fa fa-twitter"></i></a> |
<a href='{{appLinkedin}}' target='_blank'><i class="fa fa-linkedin"></i></a> |
<a href='{{appYoutube}}' target='_blank'><i class="fa fa-youtube"></i></a> |
<a href='mailto:{{appEmail}}' target='_blank'><i class="fa fa-envelope"></i></a>
