@include('emails/partials/header')

<h2>{{appName}} -  Forgot password</h2>

<h4> Hello {{ row.name }}</h2>
<p>
  Here is your account details
</p>
<p>
  <strong>Name : </strong> {{row.name}}
</p>

<p>
  <strong>Email : </strong> {{row.email}}
</p>


<p>
   To change your password please click
   <a href='{{baseUrl}}/auth/change-password/{{row.password_token}}'>
   Here
   </a>
</p>

@include('emails/partials/footer')
